.add-plant-wrapper {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
  }
  
.search-bar {
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
.plant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
.plant-card {
    background-color: #DFE7BB;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 180px;
    text-align: center;
  }
  
.plant-card:hover {
    transform: scale(1.03);
  }
  
.plant-detail {
    margin-top: 3rem;
  }
  
.pink-box {
    background-color: #f48fb1;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    color: black;
    font-size: 16px;
    line-height: 1.5;
  }


#addPlantButton {
    background-color: #f48fb1;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

  